<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>Bienvenido</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #080808;
        padding: 0;
        margin: 0;
      }

      .email-container {
        max-width: 600px;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }

      .code-box {
        background-color: rgba(41, 91, 114, 0.3);
        border: 2px dashed #295B72;
        color: #000000;
        font-size: 32px;
        font-weight: bold;
        padding: 20px;
        text-align: center;
        margin: 30px 0;
        border-radius: 8px;
        letter-spacing: 8px;
      }

      .banner {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
      }

      h1 {
        color: #2c3e50;
      }

      p {
        color: #000000;
      }

      .footer {
        margin-top: 10px;
        font-size: 0.9em;
        color: #888;
        text-align: center;
      }

      .underline {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <div class='email-container'>
      <img
        class='banner'
        src='https://imgur.com/2PwH7ba.png'
        alt='Bienvenido'
      />

      <h1>¡Hola {{name}}!</h1>

      <p>Gracias por confiar en
        <strong>Viaja Ya</strong> tu compañero ideal para descubrir <span class="underline">Colombia</span> a tu manera. Estamos encantados de tenerte con nosotros.</p>

      <p>Para continuar con la recuperación de tu cuenta y seguir con el proceso de inicio de sesión, ingresa el siguiente código en la app:</p>

      <div class='code-box'>
        {{code}}
      </div>

      <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>

      <p>¡Esperamos que disfrutes de nuestros servicios!</p>

      <div class='footer'>
        ViajaYa © {{year}} - Todos los derechos reservados
      </div>
    </div>
  </body>
</html>